@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #bababa;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #3c3c3c;
}

:root {
  background-color: #1c1c1c;
  color: #bababa;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.default-input-field {
  @apply  bg-neutral-750 
          h-9 rounded border
          border-neutral-600 
          focus:border-neutral-400 
          outline-none px-1;
}

.default-field-container {
  @apply flex flex-col;
}
