@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #1c1c1c;
  color: #bababa;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {

}

body {
  
}

.default-input-field {
  @apply  bg-neutral-750 
          h-8 rounded border
          border-neutral-600 
          focus:border-neutral-400 
          outline-none px-1;
}

.default-field-container {
  @apply flex flex-col;
}
