@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #bababa;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #3c3c3c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  background-color: #1c1a1a;
  color: #bababa;
  @apply bg-neutral-900 
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none; 
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.default-input-field {
  @apply  bg-neutral-750 
          h-9 rounded border
          border-neutral-600 
          focus:border-neutral-400
          outline-none px-1;
}

.dark-input-field {
  @apply  bg-neutral-850
          h-9 rounded border
          border-neutral-700
          focus:border-neutral-500
          outline-none px-1;
}

.default-field-container {
  @apply flex flex-col;
}

.default-orange-button {
  @apply bg-orange-500 text-white rounded font-semibold hover:bg-orange-400;
}

.text-shadow {
  text-shadow: 1px 1px 4px rgba(19, 19, 19, 0.5);
}

.new-notification-grey {
  background-color: rgb(44, 44, 44);
}

.custom-grid-layout {
  display: block;
}

.custom-gradient {
  background-image: linear-gradient(to right, rgb(21, 21, 21) 33%, transparent 100%);
}

@media (min-width: 640px) {
  .custom-grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 30px 120px;
  }
}

@layer utilities {
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-15px);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  
  .bounce-animation {
    animation: bounce 1.5s infinite;
  }
}
